<form>
  <input type="email" #email placeholder="Email" />
  <ng-container *ngTemplateOutlet="errorText; context: emailContext">
  </ng-container>
  <input type="password" #password minlength="4" placeholder="Password (***)" />
  <ng-container *ngTemplateOutlet="errorText; context: passwordContext">
  </ng-container>
  <input
    type="password"
    #repeatPassword
    minlength="4"
    placeholder="Repeat password (***)"
  />
  <ng-container *ngTemplateOutlet="errorText; context: repeatPasswordContext">
  </ng-container>
  <button [disabled]="isDisabled" #register (click)="onRegisterClick()">
    Register
  </button>
</form>

<ng-template #errorText let-text="text">{{ text }}</ng-template>
